PROJECT_NAME=QuickBite
API_V1_STR=/api/v1
SECRET_KEY=your-super-secret-key-for-jwt
ACCESS_TOKEN_EXPIRE_MINUTES=11520
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
DATABASE_URL=sqlite:///./canteen.db
