# Base
PROJECT_NAME=CanteenFood
SECRET_KEY=PRODUCTION_SECRET_KEY_CHANGE_ME

# Database
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=canteen

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
